<nav class="navbar navbar-expand-lg fondoNav shadow p-3 mb-4 rounded">
  <div class="container align-items-center">
    <mat-form-field class="redondo me-3 w-25">
      <mat-label>Combustibles</mat-label>
      <mat-select [(ngModel)]="selectedFuel" (selectionChange)="filterByFuel($event.value)" required>
        <mat-option selected value="all">Todos</mat-option>
        <mat-option value="biodiesel">Biodiesel</mat-option>
        <mat-option value="gasoleoA">Gasoleo A</mat-option>
        <mat-option value="gasoleoB">Gasoleo B</mat-option>
        <mat-option value="95">Gasolina 95 E5</mat-option>
        <mat-option value="98">Gasolina 98 E5</mat-option>
        <mat-option value="hidrogeno">Hidrogeno</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="d-flex align-items-center me-3">
      <div class="price-filter p-3 rounded-3">
        <mat-slider [min]="0" [max]="2" [step]="0.1">
          <input matSliderStartThumb name="precioMinimo" [(ngModel)]="precioMinimo">
          <input matSliderEndThumb name="precioMaximo" [(ngModel)]="precioMaximo">
        </mat-slider>
        <div class="price-range d-flex justify-content-between">
          <p>{{precioMinimo}}€</p>
          <p>{{precioMaximo}}€</p>
        </div>
      </div>
      <button class="btn btn-primary ms-2" (click)="filterByPrice()">Buscar Precios</button>
    </div>

    <div class="d-flex align-items-center me-3">
      <form class="w-100">
        <mat-form-field class="w-100">
          <mat-label>Codigo Postal</mat-label>
          <input matInput placeholder="41920" name="codigoPostalBuscado" [(ngModel)]="codigoPostalBuscado">
        </mat-form-field>
      </form>
      <button class="btn btn-primary ms-2 h-100" (click)="filterByCodigoPostal()">
        <span class="material-icons">search</span>
      </button>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-secondary fs-6" id="dropdownBasic1" ngbDropdownToggle>
        Seleccionar Carburantes
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu p-3">
        <ng-container *ngFor="let tipo of fuelTypes; let i = index">
          <mat-checkbox (click)="modificarListaCarburantes(tipo)">{{tipo}}</mat-checkbox>
        </ng-container>
        <button class="btn btn-primary mt-3 w-100" (click)="filtrarPorCarburantes()">Filtrar</button>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <ng-container *ngFor="let gasolinera of gasolinerasFiltradas; let i = index">
      <div class="col">
        <div class="card h-100 custom-card">
          <div class="card-body">
            <h5 class="card-title text-center text-dark">{{ gasolinera.nombre }}</h5>
            <div class="d-flex">
              <div class="me-3 border-end border-dark pe-2">
                <p><span class="material-icons me-1">location_on</span>Provincia: {{gasolinera.provincia}}</p>
                <p><span class="material-icons me-1" style="color: blue;">schedule</span>Horario: {{gasolinera.horario}}</p>
              </div>
              <div>
                <ng-container *ngIf="selectedFuel === 'all'">
                  <p *ngIf="gasolinera.price95 != 0"><span class="material-icons" style="color: red;">local_gas_station</span> Gasolina 95: {{gasolinera.price95}}€</p>
                  <p *ngIf="gasolinera.priceGasoleoA != 0"><span class="material-icons" style="color: green;">local_gas_station</span> Gasoleo A: {{gasolinera.priceGasoleoA}}€</p>
                </ng-container>
              </div>
            </div>
            <a [href]="gasolinera | pipeGoogleMaps" target="_blank" class="btn btn-primary w-100 mt-2">Ubicación</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>