<h5 class="text-center mb-3">
    Carburantes
</h5>
@if(gasolinera != null){
<div class="carburantes-exterior mx-auto">
    <table class="table table-stripped">
        <tbody>
            <tr>
                @if(gasolinera.PrecioGasoleoA != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasoleo A</span>
                        <span>{{gasolinera.PrecioGasoleoA}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioBiodiesel != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Biodiesel</span>
                        <span>{{gasolinera.PrecioBiodiesel}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioBioetanol != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Bioetanol</span>
                        <span>{{gasolinera.PrecioBioetanol}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasNaturalComprimido != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gas Natural Comprimido</span>
                        <span>{{gasolinera.PrecioGasNaturalComprimido}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasNaturalLicuado != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gas Natural Licuado</span>
                        <span>{{gasolinera.PrecioGasNaturalLicuado}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasoleoB != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasoleo B</span>
                        <span>{{gasolinera.PrecioGasoleoB}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasoleoPremium != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasoleo Premium</span>
                        <span>{{gasolinera.PrecioGasoleoPremium}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasolina95E10 != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 95 E10</span>
                        <span>{{gasolinera.PrecioGasolina95E10}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasolina95E5 != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 95 E5</span>
                        <span>{{gasolinera.PrecioGasolina95E5}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasolina95E5Premium != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 95 E5 Premium</span>
                        <span>{{gasolinera.PrecioGasolina95E5Premium }}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasolina98E10 != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 98 E10</span>
                        <span>{{gasolinera.PrecioGasolina98E10}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioGasolina98E5 != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Gasolina 98 E5</span>
                        <span>{{gasolinera.PrecioGasolina98E5}}€</span>
                    </td>
                }
                @if(gasolinera.PrecioHidrogen != "")
                {
                    <td class="d-flex justify-content-between">
                        <span>Hidrogeno</span>
                        <span>{{gasolinera.PrecioHidrogen}}€</span>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
}