<div class="container-fluid">
    <section class="my-5 py-5 section-content">
      <div class="container">
        <h2 class="text-center mb-4 section-title">App Gasolineras</h2>
      </div>
    </section>
  
    <section class="bg-light py-5 section-content">
      <div class="container">
        <h2 class="text-center mb-4 section-title">Novedades</h2>
        <div class="row text-center">
          <div class="col-md-4 p-4 section-box">
            <h3 class="section-subtitle">Lista</h3>
          </div>
          <div class="col-md-4 p-4 section-box">
            <h3 class="section-subtitle">Tienda</h3>
            <p class="section-text">Explora nuestra tienda para encontrar productos oficiales.</p>
          </div>
          <div class="col-md-4 p-4 section-box">
            <h3 class="section-subtitle">Objetos</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 py-5 section-content">
      <div class="container">
      </div>
    </section>

  </div>
  