<div class="row d-flex justify-content-center">
    <div class="buscador-municipios col-12 d-block justify-content-center">
        <div>
            <app-buscador-municipios (nombre)="llamadaMunicipio($event)"></app-buscador-municipios>
        </div>
        <div>
            <p>holi</p>
        </div>
    </div>
    <div class="buscador-gasolineras col-12 d-flex justify-content-center">
        <app-buscador-gasolineras 
        [titulo]="municipio"         
        [carburanteSeleccionado]="carburanteSeleccionado"
        (gasolineraSeleccionada)="mostrarGasolineraSeleccionada($event)">
        ></app-buscador-gasolineras>
    </div>
    <div class="otros-datos col-12 d-block justify-content-center">

        <div class="carburantes">
            <app-carburantes [gasolinera]="gasolinera"></app-carburantes>
        </div>
        <div class="informacion">
            <app-detalles [gasolinera]="gasolinera"></app-detalles>
        </div>

    </div>
</div>