<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="https://cdn-icons-png.flaticon.com/512/234/234789.png" alt="Pokémon Logo" width="150" height="70" class="d-inline-block align-top">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lista">Filtrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaGas">Filtrar v2</a>
      </li>
    </ul>
  </div>
</nav>
