<div class="container mt-4">
  <h1>Precios de Carburantes en España</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Gasóleo</th>
        <th>Gasolina</th>
        <th>Hidrógeno</th>
      </tr>
    </thead>
    <tbody>
    <!-- <tr *ngFor="let station of fuelStations">
        <td>{{ station.nombre }}</td>
        <td>{{ station.direccion }}</td>
        <td>{{ station.precios.gasoleo | currency:'EUR':'symbol':'1.2-2' }}</td>
        <td>{{ station.precios.gasolina | currency:'EUR':'symbol':'1.2-2' }}</td>
        <td>{{ station.precios.hidrogeno | currency:'EUR':'symbol':'1.2-2' }}</td>
      </tr>-->
    </tbody>
  </table>
</div>
