.container {
  max-width: 1000px;
  background-color: aliceblue;
}

.gasolinera-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
}



.card-header,
.card-body {
  text-align: center;
}

.card-text strong {
  color: #495057;
}

.price {
  color: #d9534f;
  font-weight: bold;
}