<div class="container mt-4">
  <h2 class="text-center mb-4 pt-4">Lista de Gasolineras</h2>

  <div class="gasolinera-list mx-auto ">
    <div *ngFor="let gasolinera of listadoGasolineras; let i = index" class="col-md-4 col-sm-12">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title mb-0">Estación: {{ gasolinera.nombre }}</h5>
        </div>

        <div class="card-body">
          <p class="card-text">
            <i class="fas fa-id-badge me-2"></i>
            <strong>ID EESS:</strong> {{ gasolinera.id }}
          </p>
          <p class="card-text">
            <i class="fas fa-map-marker-alt me-2"></i>
            <strong>CP:</strong> {{ gasolinera.postalCode }}
          </p>
          <p class="card-text">
            <i class="fas fa-gas-pump me-2" style="color: #2acf14;"></i>
            <strong>Gasolina SP 95: </strong>
            <span class="price">{{ gasolinera.price95 | number:'1.2-2' }} €</span>
          </p>
          <p class="card-text">
            <i class="fas fa-gas-pump me-2" style="color: #dd2315;"></i>
            <strong>Diesel: </strong> <span class="price">{{ gasolinera.priceDiesel | number:'1.2-2'}} €</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>