<footer class="footer bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <a href="https://triana.salesianos.edu/" target="_blank">Salesianos de Triana</a>
        </div>
          <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a class="nav-link" routerLink="/">Inicio</a></li>
            <li><a class="nav-link" routerLink="/gasolineras">Lista</a></li>
          </ul>
        </div>
          <div class="col-md-4">
          <h5>Contacto</h5>
          <p>Tlf: +1 234 567 890</p>
          <p>Triana, Sevilla</p>
        </div>
      </div>
      <div class="text-center pt-3">
        <small>&copy; 2024 GasAPP</small>
      </div>
    </div>
  </footer>
  